<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Přehled domu</h1>
</div>

<div class="row">
    <!-- Illustrations -->
    <div class="col-xl-4 col-md-8 mb-4 pt-4 mx-auto">
        <div class="card shadow mb-4">
            <div class="card border border-secondary">
                <div class="card-header py-3">
                    <div class="row">
                        <a class="col-md-6" routerLink="/rooms">
                            <h4 class="m-0 font-weight-bold text-center">Místnosti</h4>
                        </a>
                        <a class="col-md-6" routerLink="/statistics">
                            <h4 class="m-0 font-weight-bold text-center">Statistiky</h4>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngFor="let room of roomsData">
                        <div class="row">
                            <div *ngIf="room.radiatorState; else off" class="col-lg-3 col-2 text-right">
                                <fa-icon [icon]="faCheckCircle" class="text-success"></fa-icon>
                            </div>
                            <ng-template #off>
                                <div class="col-lg-3 col-2 text-right">
                                    <fa-icon [icon]="faTimesCircle" class="text-danger"></fa-icon>
                                </div>
                            </ng-template>
                            <div class="col-lg-5 col-6 text-left">
                                <span class="font-weight-bold"> {{ room.name }}</span>
                            </div>
                            <div class="col-4">
                                <span class="font-weight-bold">{{ room.currentTemperature}} °C</span>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-12 text-center">
                            <span class="h2 text-gray-800 font-weight-bold"><span id="amount-label"></span>
                                {{sliderValue}} °C</span>                            
                            <div class="custom-slider row justify-content-center">
                                <ngx-slider [(value)]="sliderValue" [options]="sliderOptions" (mouseup)="sliderChange()"></ngx-slider>
                            </div>
                            <br><span class="text-lg">požadovaná teplota</span>
                        </div>
                    </div>
                    <div class="row">
                        <button *ngIf="globalRadiatorState; else off" class="btn btn-success mx-auto" type="button" (click)="changeGlobalRadiatorSettings()">
                            <fa-icon [icon]="faCheckCircle"></fa-icon>
                        </button>
                        <ng-template #off>
                            <button class="btn btn-danger mx-auto" type="button" (click)="changeGlobalRadiatorSettings()">
                                <fa-icon [icon]="faTimes"></fa-icon>
                            </button>
                        </ng-template>
                    </div>
                    <div class="row">
                        <div class="chart-pie pt-4 col-12 mx-auto">
                            <h6 class="m-0 font-weight-bold text-center">TOPENÍ PŘES ROK</h6>
                            <div *ngIf="doughnutChartData[0][0] != null">
                                <canvas baseChart
                                    [data]="doughnutChartData"
                                    [labels]="doughnutChartLabels"
                                    [chartType]="doughnutChartType">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>