<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Místnosti domu</h1>
</div>

<!-- Content Row -->
<div class="row">
    <!-- Illustrations -->
    <div class="col-xl-6 col-md-8 mb-4 pt-4 mx-auto">
        <div class="card shadow mb-4">
            <div class="card border border-secondary">
                <div class="row">
                    <div class="col-lg-4">
                        <ul class="nav nav-pills flex-column border-right border-secondary" id="myTab" role="tablist" aria-orientation="vertical">
                            <li *ngFor="let room of roomsData" class="nav-item border-bottom border-secondary" (click)="onSelect(room)">
                                <a class="nav-link rounded-0 text-center" [class.active]="room == selectedRoom" id="{{room.name}}-tab" data-toggle="tab" href="#{{room.name}}" role="tab" attr.aria-controls="{{room.name}}" aria-selected="true">
                                    <h1 class="h4 mb-0">{{room.name}}</h1>
                                </a>
                            </li>
                            <li class="nav-item text-center">
                                <a class="nav-link rounded-0" data-toggle="modal" data-target="#myModal" routerLink="/rooms">
                                    <fa-icon [icon]="faPlus" class="fa-2x text-primary" id="addNewRoom"></fa-icon>
                                </a>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="myModalLabel">
                                                    Vytvořit novou místnost
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form (ngSubmit)="onSubmit(); roomModelForm.reset()" #roomModelForm="ngForm" novalidate>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="roomsName">Název místnosti</label>
                                                        <input type="text" name="name" [(ngModel)]="userRoom.name"  class="form-control" id="roomsName" placeholder="Vytvořte název místnosti" required #trackName="ngModel">
                                                        <small class="alert" *ngIf="!trackName.valid && trackName.touched">Název místnosti je potřeba vyplnit</small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="roomsSelectedTemperature">Nastavte teplotu</label>
                                                        <input type="number" name="selectedTemperature" [(ngModel)]="userRoom.selectedTemperature" class="form-control" id="roomsSelectedTemperature" step="0.1" min="15" max="30" (change)="onChange()" placeholder="Možné hodnoty: 15-30" required #trackNumber="ngModel">
                                                        <small class="alert" *ngIf="!trackNumber.valid && trackNumber.touched">Požadovanou teplotu je potřeba poskytnout</small>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                                                    <button type="submit" [disabled]="!roomModelForm.form.valid" class="btn btn-primary">Uložit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item text-center align-items-end">
                                <a class="nav-link rounded-0 home-button" style="margin-top: 16rem;" routerLink="/home">
                                    <fa-icon [icon]="faHome" class="fa-2x"></fa-icon>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content col-8" id="myTabContent">
                        <div *ngIf="selectedRoom" class="tab-pane fade show active" id="{{selectedRoom.name}}" role="tabpanel" attr.aria-labelledby="{{selectedRoom.name}}-tab" >
                            <div class="text-right radiator-icon">
                                <a routerLink="/rooms" (click)="radiatorCheck()">
                                <fa-icon *ngIf="selectedRoom.radiatorState; else radiatorOff" class="fa-2x text-success" [icon]="faCheckSquare"></fa-icon>
                                <ng-template #radiatorOff>
                                    <fa-icon class="fa-2x text-danger " [icon]="faWindowClose"></fa-icon>
                                </ng-template>
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <span class="h2 text-gray-800 font-weight-bold">{{selectedRoom.name}}</span>
                                </div>
                            </div>
                            <div class="font-weight-bold card-body">
                                <div class="align-items-center d-flex row" id="roomsCardBody">
                                    <div class="col-6 text-lg text-right">
                                        Teplota
                                    </div>
                                    <div class="col-6 text-lg text-left">
                                        {{selectedRoom.currentTemperature}} °C
                                    </div>
                                </div>
                                <div class="align-items-center d-flex row" id="roomsCardBody">
                                    <div class="col-6 text-lg text-right">
                                        Aktuální spotřeba
                                    </div>
                                    <div class="col-6 text-lg text-left">
                                        {{ selectedRoom.powerConsumption }} W
                                    </div>
                                </div>
                                <div class="align-items-center d-flex row" id="roomsCardBody">
                                    <div class="col-6 text-right">
                                        Průměrná denní doba svícení
                                        <br><small>(poslední 2 týdny)</small>
                                    </div>
                                    <div class="col-6 text-lg text-left">
                                        60 min
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <span class="h2 text-gray-800 font-weight-bold"><span id="amount-label"></span>
                                        {{sliderValue}} °C</span>                            
                                    <div class="custom-slider row justify-content-center">
                                        <ngx-slider [(value)]="sliderValue" [options]="sliderOptions" (mouseup)="sliderChange()"></ngx-slider>
                                    </div>
                                    <br><span class="text-lg">požadovaná teplota</span>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 5rem;">
                                <div *ngIf="selectedRoom.radiatorState; else off" class="col-12 text-center h2 text-gray-800">
                                    TOPENÍ JE <span class="text-success">ZAPNUTO</span>
                                </div>
                                <ng-template #off>
                                    <div class="col-12 text-center h2 text-gray-800">
                                        TOPENÍ JE <span class="text-danger">VYPNUTO</span>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>