<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Statistiky</h1>
</div>

<!-- Content Row -->
<div class="row">
    <!-- Illustrations -->
    <div class="col-xl-6 col-md-8 mb-4 pt-4 mx-auto">
        <div class="card shadow mb-4">
            <div class="card border border-secondary">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1 class="h2 text-gray-900 font-weight-bold">SOUHRNNÉ STATISTIKY</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body scroll">
                    <div class="list-group">
                        <div *ngFor="let month of months" class="list-group-item flex-column align-items-start">
                            <div class="d-flex w-100">
                                <h4 class="mb-2 text-gray-900 font-weight-bold col-4">{{ month.name }}</h4>
                                <small class="small-text col-2">dnů zapnuto vytápění</small>
                                <small class="small-text col-2">průměrná denní doba svícení</small>
                                <small class="small-text col-2">spotřeba energie</small>
                            </div>
                            <div *ngFor="let room of roomsData" class="d-flex w-100 room-data" >
                                <h5 class="mb-2 mt-2 text-gray-900 font-weight-bold col-4">{{ room.name }}</h5>
                                <h5 class="data-text text-gray-900 col-2">{{ room.monthlyRadiatorTime[month.id-1] }}</h5>
                                <h5 class="data-text text-gray-900 col-2">{{ room.monthlyLight[month.id-1] }} min</h5>
                                <h5 class="data-text text-gray-900 col-2">{{ room.monthlyPowerConsumption[month.id-1] }} W</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <a class="home-button" routerLink="/home">
                        <fa-icon [icon]="faHome" class="fa-2x"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>