.custom-slider {
	padding: 1rem 2rem;
	margin-top: -2rem;
	margin-bottom: -2rem;
}

.custom-slider .ngx-slider {
	.ngx-slider-bar {
		background: -webkit-linear-gradient(left, $blue, $cyan, $green , $yellow, $red);
		height: 5px;
	}
	.ngx-slider-pointer{
		background-color: #313131;
	}
	.ngx-slider-bubble {
		display: none;
	}
} 