.custom-slider {
	padding: 1rem 2rem;
}

.custom-slider .ng5-slider .ng5-slider-bar {
	background: -webkit-linear-gradient(left, $blue, $cyan, $green , $yellow, $red);
}

.custom-slider .ng5-slider .ng5-slider-pointer{
	background-color: #313131;
}